<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beau.graduation.dao.BookCommentDao">

    <resultMap id="BaseResultMap" type="com.beau.graduation.model.BookComment" >
        <result column="id" property="id" />
        <result column="order_id" property="orderIds" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `order_id`,
        `create_time`,
        `update_time`,
        `remark`,
        `del_flag`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.beau.graduation.model.BookComment">
        INSERT INTO tm_book_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != bookComment.bookId'>
                `book_id`,
            </if>
            <if test ='null != bookComment.orderId'>
                `order_id`,
            </if>
            <if test ='null != bookComment.createTime'>
                `create_time`,
            </if>
            <if test ='null != bookComment.updateTime'>
                `update_time`,
            </if>
            <if test ='null != bookComment.remark'>
                `remark`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != bookComment.bookId'>
                #{bookComment.bookId},
            </if>
            <if test ='null != bookComment.orderId'>
                #{bookComment.orderId},
            </if>
            <if test ='null != bookComment.createTime'>
                #{bookComment.createTime},
            </if>
            <if test ='null != bookComment.updateTime'>
                #{bookComment.updateTime},
            </if>
            <if test ='null != bookComment.remark'>
                #{bookComment.remark},
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tm_book_comment ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
                #{curr.id},
                #{curr.orderIds},
                #{curr.createTime},
                #{curr.updateTime},
                #{curr.remark},
                #{curr.delFlag}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.beau.graduation.model.BookComment">
        UPDATE tm_book_comment
        <set>
            <if test ='null != bookComment.orderIds'>order_id = #{bookComment.orderIds},</if>
            <if test ='null != bookComment.createTime'>create_time = #{bookComment.createTime},</if>
            <if test ='null != bookComment.updateTime'>update_time = #{bookComment.updateTime},</if>
            <if test ='null != bookComment.remark'>remark = #{bookComment.remark},</if>
            <if test ='null != bookComment.delFlag'>del_flag = #{bookComment.delFlag}</if>
        </set>
        WHERE id = bookComment.id
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM tm_book_comment
        WHERE id = #{bookComment.bookComment}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM tm_book_comment WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByObj" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_comment
        WHERE id = #{bookComment.id}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_comment
        <where>
            <if test ='null != bookComment.id'>
                and id = #{bookComment.id}
            </if>
            <if test ='null != bookComment.orderIds'>
                and orderIds = #{bookComment.orderIds}
            </if>
            <if test ='null != bookComment.createTime'>
                and createTime = #{bookComment.createTime}
            </if>
            <if test ='null != bookComment.updateTime'>
                and updateTime = #{bookComment.updateTime}
            </if>
            <if test ='null != bookComment.remark'>
                and remark = #{bookComment.remark}
            </if>
            <if test ='null != bookComment.delFlag'>
                and delFlag = #{bookComment.delFlag}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_comment
        <where>
            <if test ='null != bookComment.id'>
                and id = #{bookComment.id}
            </if>
            <if test ='null != bookComment.orderIds'>
                and orderIds = #{bookComment.orderIds}
            </if>
            <if test ='null != bookComment.createTime'>
                and createTime = #{bookComment.createTime}
            </if>
            <if test ='null != bookComment.updateTime'>
                and updateTime = #{bookComment.updateTime}
            </if>
            <if test ='null != bookComment.remark'>
                and remark = #{bookComment.remark}
            </if>
            <if test ='null != bookComment.delFlag'>
                and delFlag = #{bookComment.delFlag}
            </if>
        </where>
        limit #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(id) FROM tm_book_comment
        <where>
            <if test ='null != bookComment.id'>
                and id = #{bookComment.id}
            </if>
            <if test ='null != bookComment.orderIds'>
                and orderIds = #{bookComment.orderIds}
            </if>
            <if test ='null != bookComment.createTime'>
                and createTime = #{bookComment.createTime}
            </if>
            <if test ='null != bookComment.updateTime'>
                and updateTime = #{bookComment.updateTime}
            </if>
            <if test ='null != bookComment.remark'>
                and remark = #{bookComment.remark}
            </if>
            <if test ='null != bookComment.delFlag'>
                and delFlag = #{bookComment.delFlag}
            </if>
        </where>
    </select>
</mapper>