<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beau.graduation.dao.BookTypeDao">

    <resultMap id="BaseResultMap" type="com.beau.graduation.model.BookType" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `name`,
        `del_flag`,
        `create_time`,
        `remark`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.beau.graduation.model.BookType">
        INSERT INTO tm_book_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != bookType.id'>
                `id`,
            </if>
            <if test ='null != bookType.name'>
                `name`,
            </if>
            <if test ='null != bookType.delFlag'>
                `del_flag`,
            </if>
            <if test ='null != bookType.createTime'>
                `create_time`,
            </if>
            <if test ='null != bookType.remark'>
                `remark`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != bookType.id'>
                #{bookType.id},
            </if>
            <if test ='null != bookType.name'>
                #{bookType.name},
            </if>
            <if test ='null != bookType.delFlag'>
                #{bookType.delFlag},
            </if>
            <if test ='null != bookType.createTime'>
                #{bookType.createTime},
            </if>
            <if test ='null != bookType.remark'>
                #{bookType.remark}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tm_book_type ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
                #{curr.id},
                #{curr.name},
                #{curr.delFlag},
                #{curr.createTime},
                #{curr.remark}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.beau.graduation.model.BookType">
        UPDATE tm_book_type
        <set>
            <if test ='null != bookType.name'>name = #{bookType.name},</if>
            <if test ='null != bookType.delFlag'>del_flag = #{bookType.delFlag},</if>
            <if test ='null != bookType.createTime'>create_time = #{bookType.createTime},</if>
            <if test ='null != bookType.remark'>remark = #{bookType.remark}</if>
        </set>
        WHERE id = bookType.id
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM tm_book_type
        WHERE id = #{bookType.bookType}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM tm_book_type WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByObj" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_type
        WHERE id = #{bookType.id}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_type
        <where>
            <if test ='null != bookType.id'>
                and id = #{bookType.id}
            </if>
            <if test ='null != bookType.name'>
                and name = #{bookType.name}
            </if>
            <if test ='null != bookType.delFlag'>
                and delFlag = #{bookType.delFlag}
            </if>
            <if test ='null != bookType.createTime'>
                and createTime = #{bookType.createTime}
            </if>
            <if test ='null != bookType.remark'>
                and remark = #{bookType.remark}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_type
        <where>
            <if test ='null != bookType.id'>
                and id = #{bookType.id}
            </if>
            <if test ='null != bookType.name'>
                and name = #{bookType.name}
            </if>
            <if test ='null != bookType.delFlag'>
                and delFlag = #{bookType.delFlag}
            </if>
            <if test ='null != bookType.createTime'>
                and createTime = #{bookType.createTime}
            </if>
            <if test ='null != bookType.remark'>
                and remark = #{bookType.remark}
            </if>
        </where>
        limit #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(id) FROM tm_book_type
        <where>
            <if test ='null != bookType.id'>
                and id = #{bookType.id}
            </if>
            <if test ='null != bookType.name'>
                and name = #{bookType.name}
            </if>
            <if test ='null != bookType.delFlag'>
                and delFlag = #{bookType.delFlag}
            </if>
            <if test ='null != bookType.createTime'>
                and createTime = #{bookType.createTime}
            </if>
            <if test ='null != bookType.remark'>
                and remark = #{bookType.remark}
            </if>
        </where>
    </select>
</mapper>