<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beau.graduation.dao.BookTypeDao">

    <resultMap id="BaseResultMap" type="com.beau.graduation.model.BookType" >
        <result column="id" property="id" />
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        parent_id,
        `name`,
        `create_time`,
        `remark`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.beau.graduation.model.BookType">
        INSERT INTO tm_book_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.name)'>
                `name`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.createTime)'>
                `create_time`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.updateTime)'>
                `update_time`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.remark)'>
                `remark`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.parentId)'>
                `parent_id`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.name)'>
                #{bookType.name},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.createTime)'>
                #{bookType.createTime},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.updateTime)'>
                #{bookType.updateTime},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.remark)'>
                #{bookType.remark},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.parentId)'>
                #{bookType.parentId}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tm_book_type ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
                #{curr.id},
                #{curr.name},
                #{curr.delFlag},
                #{curr.createTime},
                #{curr.remark}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.beau.graduation.model.BookType">
        UPDATE tm_book_type
        <set>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.name)'>name = #{bookType.name},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.parentId)'>parent_id = #{bookType.parentId},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.updateTime)'>create_time = #{bookType.updateTime},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.remark)'>remark = #{bookType.remark}</if>
        </set>
        WHERE id = #{bookType.id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        update tm_book_type
        <set>
            del_flag = '1'
        </set>
        WHERE
        <if test="@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.id)">
            id = #{bookType.id} or parent_id = #{bookType.id}
        </if>
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM tm_book_type WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByObj" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_type
        WHERE id = #{bookType.id}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_book_type
        <where>
            <if test ='null != bookType.name'>
                and name = #{bookType.name}
            </if>
            <if test ='null != bookType.createTime'>
                and createTime = #{bookType.createTime}
            </if>
            <if test ='null != bookType.remark'>
                and remark = #{bookType.remark}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tm_book_type
        <where>
            del_flag = '0'
            <if test='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.name)'>
                and name like concat('%',#{bookType.name},'%')
            </if>
            <if test='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.parentId)'>
                and parent_id = #{bookType.parentId}
            </if>
        </where>
        limit #{page.index,jdbcType=INTEGER}, #{page.size,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(id) FROM tm_book_type
        <where>
            del_flag = '0'
            <if test='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.name)'>
                and name like concat('%',#{bookType.name},'%')
            </if>
            <if test='@com.beau.graduation.utils.MapperUtil@isNotEmpty(bookType.parentId)'>
                and parent_id = #{bookType.parentId}
            </if>
        </where>
    </select>
</mapper>