<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beau.graduation.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.beau.graduation.model.dto.OrderDto" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="logistics_company" property="logisticsCompany" />
        <result column="shipment_number" property="shipmentNumber" />
        <result column="create_time" property="createTime" />
        <result column="order_total" property="orderTotal"/>
        <result column="account_name" property="accountName"/>
        <result column="shipment_number" property="shipmentNumber"/>
        <result column="logistics_company" property="logisticsCompany"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `order_id`,
        `confirm_status`,
        `logistics_company`,
        `shipment_number`,
        `create_time`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.beau.graduation.model.Order">
        INSERT INTO tm_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.userId)'>
                `user_id`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.orderId)'>
                `order_id`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.confirmStatus)'>
                `confirm_status`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.createTime)'>
                `create_time`,
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.updateTime)'>
                `update_time`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.userId)'>
                #{order.userId},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.orderId)'>
                #{order.orderId},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.confirmStatus)'>
                #{order.confirmStatus},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.createTime)'>
                #{order.createTime},
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.updateTime)'>
                #{order.updateTime}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tm_order ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
            #{curr.id},
            #{curr.userId},
            #{curr.orderIds},
            #{curr.confirmStatus},
            #{curr.createTime},
            #{curr.updateTime},
            #{curr.delFlag}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.beau.graduation.model.dto.OrderDto">
        UPDATE tm_order
        <set>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.confirmStatus)'>confirm_status = #{dto.confirmStatus},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.logisticsCompany)'>logistics_company = #{dto.logisticsCompany},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.shipmentNumber)'>shipment_number = #{dto.shipmentNumber},</if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.updateTime)'>update_time = #{dto.updateTime},</if>
        </set>
        WHERE order_id = #{dto.orderId}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM tm_order
        WHERE id = #{order.order}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM tm_order WHERE order_id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item.orderId}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByOrderId" resultMap="BaseResultMap">
        SELECT
            tpi.`account_name` AS account_name,
            tpi.phone AS phone,
            tpi.address AS address,
            t.`order_id` AS order_id,
            t.`confirm_status` AS confirm_status,
            t.`create_time` AS create_time,
            t.logistics_company AS logistics_company,
            t.shipment_number AS shipment_number
        FROM tm_order t
        left join tm_partner_info tpi on t.user_id=tpi.id and tpi.del_flag = '0'
        WHERE t.order_id = #{orderId} and t.del_flag = '0'
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tm_order
        <where>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.id)'>
                and id = #{order.id}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.userId)'>
                and user_id = #{order.userId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.orderIds)'>
                and order_id = #{order.orderId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.confirmStatus)'>
                and confirm_status = #{order.confirmStatus}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.createTime)'>
                and create_time = #{order.createTime}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.updateTime)'>
                and update_time = #{order.updateTime}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(order.delFlag)'>
                and del_flag = #{order.delFlag}
            </if>
        </where>
    </select>


    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(t.id) FROM tm_order t
        left join tm_partner_info tpi on t.user_id=tpi.id and tpi.del_flag = '0'
        <where>
            t.del_flag = '0'
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.receive)'>
                and (tpi.account_name like concat('%',#{dto.receive},'%') or tpi.phone like concat(#{dto.receive},'%'))
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.orderId)'>
                and t.order_id = #{dto.orderId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.userId)'>
                and t.user_id = #{dto.userId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.confirmStatus)'>
                and t.confirm_status = #{dto.confirmStatus}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.beginTime)'>
                and t.create_time &gt;= #{dto.beginTime}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.endTime)'>
                and t.create_time &lt;= #{dto.endTime}
            </if>
        </where>
    </select>

    <select id="getOrderPage" resultMap="BaseResultMap">
        SELECT
            t.`id` as id,
            tpi.`account_name` as account_name,
            t.`order_id` as order_id,
            t.`confirm_status` as confirm_status,
            t.`create_time` as create_time,
            sum(tbo.total_price) as order_total,
            t.logistics_company as logistics_company,
            t.shipment_number as shipment_number
        FROM tm_order t
        left join tm_partner_info tpi on t.user_id=tpi.id and tpi.del_flag = '0'
        left join tr_book_order tbo on tbo.order_id=t.order_id and tbo.del_flag = '0'
        <where>
            t.del_flag = '0'
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.receive)'>
                and (tpi.account_name like concat('%',#{dto.receive},'%') or tpi.phone like concat(#{dto.receive},'%'))
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.orderId)'>
                and t.order_id = #{dto.orderId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.userId)'>
                and t.user_id = #{dto.userId}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.confirmStatus)'>
                and t.confirm_status = #{dto.confirmStatus}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.beginTime)'>
                and t.create_time &gt;= #{dto.beginTime}
            </if>
            <if test ='@com.beau.graduation.utils.MapperUtil@isNotEmpty(dto.endTime)'>
                and t.create_time &lt;= #{dto.endTime}
            </if>
        </where>
        group by t.id
        order by t.update_time desc
        limit #{page.index},#{page.size}
    </select>
</mapper>